# --- sys IDE ---
.idea/
.vscode/
*.swp

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
build/
dist/

#
model/
trained_model/
checkpoints/

#
*.safetensors
*.pt
*.pth
*.bin
*.h5
*.onnx

# logs
*.log
.env